*{
    width: 100%;
    padding: 0px;
    margin: 0px;
    background-repeat: no-repeat;
    background-size: 100%;
    list-style-type: none;
    text-decoration:none;
}
hr{
    border: 2px solid #2b72e0;
}
.nav{
    /* margin-left: 15px; */
    /* top: 10px; */
    position: fixed;
    z-index: 10;
    width: 100%;
    background-color: #ffffffab;
}
.navimg{
    width: 50px;
    height: 50px;
    background-image: url(../img/icon.png);
    background-repeat: no-repeat;
    background-size: 99%;
}
.navLong{
    display: none;
    position: fixed;
    top: 50px;
    width: 100%;
    z-index: 10;

}
.navLage{
    display: none;
}
.navLong1{
    font-size: 16px;
    width: 100%;
    background-color: #ffffffab;
    color: #403f3f;
    padding: 4px;
    padding-left: 11px;
}
.jumbotron{
    background-image:url(../img/3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 50px;
}
.logo{
    width: 98px;
    height: 364px;
    background-image: url(../img/H.C-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    display: none;
}
.compinTittem{
    width: 90%;
    color: #104368;
    font-size: 30px;
    height: 57px;
    padding: 20px;
    padding-top: 49px;
}
.compin{
    width: 70%;
    margin: 0px auto;
   
}
.compinImg{
    width: 100%;
    height: 214px;
    border: 1px dotted #999;
  border-radius: 0;
  -webkit-appearance: none;
}
.gggg{
    width: 100px;
    height: 30px;
    border: 1px dotted #999;
  border-radius: 0;

  -webkit-appearance: none;
}
.scrviceImg2{
    width: 100%;
    height: 40px;
    border: 1px dotted #999;
  border-radius: 5px;
  -webkit-appearance: none;
}
.compinTxt{
    width: 73%;
    color: #6d6d6d;
    padding: 77px;
    font-size: 17px;
    letter-spacing: 3px;
}

.scrviceTittem{
    font-size: 32px;
    height: 45px;
}
.scrviceTxt{
    width: 93%;
    padding: 17px;
    font-size: 22px;
}
#fadeIn1{
    display: none;
}
#fadeIn2{
    display: none;
}
#fadeIn3{
    display: none;
}
#fadeIn4{
    display: none;
}
#fadeIn5{
    display: none;
}
#fadeIn6{
    display: none;
}
.aaa{
    padding: 5px;
    font-size: 20px;
    width: 25%;
    height: 100px;
    border: 1px #820f0f solid;
}
.bbb{
    padding: 5px;
    font-size: 20px;
    width: 60%;
    height: 100px;
    border: 1px #820f0f solid;
}
.aa{
    padding: 5px;
    font-size: 20px;
    width: 25%;
    height: 100px;
}
.bb{
    padding: 5px;
    font-size: 20px;
    width: 60%;
    height: 100px;
}
.cc{
    width: 88%;
    height: 50px;
}
.end{
    display: flex;
    height: 135px;/*需要调试*/
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.endLogo{
    margin-bottom: 10px;
    width: 300px;
    height: 100px;
    background-image: url(../img/H.C-01.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin-top: 25px;
}
.endAccess{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.tel{
    font-size: 31px;
    margin-top: 5px;
    width: 250px;
    color: #6f87ff;
    text-align: center;
}
.endMail{
    font-size: 14px;
    width: 358px;

}
.endName{
    font-size: 20px;
    width: 135px;
}
@media screen and (min-width:1000px) {
    .navLage{
        display: block;
        width: 100%;
        position: fixed;
        z-index: 10;
        top: 0px;
        background-color: #ffffff7a;
        height: 60px;
    }
    .logo{
        float: left;
        display: block;
    }
    .navButton{
        width: 180px;
        height: 41px;
        float: left;
        margin-top: 18px;
        text-align: center;
    }
    .navButton a{
        width: 200px;
        height: 70px;
        color: #363636;
        font-size: 17px;
    }
   
    .nav{
        display: none;
    }
    .compinTxt {
        width: 71%;
    }
    /* *{
        width: 900px;
        margin: 0px auto;
    } */
    .compinTittem{
        width: 750px;
        margin: 0px auto;
        padding-top: 92px;
    }
    .compinImg{
        width: 600px;
    }
    #fadeIn1{
        display: block;
    }
    #fadeIn2{
        display: block;
    }
    #fadeIn3{
        display: block;
    }
    #fadeIn4{
        display: block;
    }
    #fadeIn5{
        display: block;
    }
    #fadeIn6{
        display: block;
    }
    /* .scrviceImg{
        height: 186px;
        width: 40%;
    } */
    .scrviceImg2{
        width: 320px;
        height: 40px;
        border: 1px dotted #999;
      border-radius: 5px;
      -webkit-appearance: none;
    }
}